#red { 
  background-color: #f00;
  border-top-color: #f00;
  border: 20px solid #000;
  display: inline-block;
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;

}

#orange {
  background-color: #ffa500;
  border-top-color: #ffa500;
  border: 20px solid #000;
  display: inline-block;
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

#yellow {
  background-color: #ff0;
  border-top-color: #ff0;
  border: 20px solid #000;
  display: inline-block;
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

#green {
  background-color: #008000;
  border-top-color: #00bc3f;
  border: 20px solid #000;
  display: inline-block;
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

#blue {
  background-color: #0000ff;
  border-top-color: #06f;
  border: 20px solid #000;
  display: inline-block;
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

#indigo {
  background-color: #8a2be2;
  border-top-color: #8a2be2;
  border: 20px solid #000;
  display: inline-block;
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#violet {
  background-color: #8b00ff;
  border-top-color: #d300c9;
  border: 20px solid #000;
  display: inline-block;
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

